label{
  width: 100%;
  max-width: 200px;
  display: flex;
  margin: 10px 50px;
}
.wrap{
  padding: 20px 50px;
  .item{
    width: 300px;
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    cursor: pointer;
    img{
      max-width: 100px;
      height: 100px;
      object-fit: cover;
    }
    p{
      margin: 10px 0 0 10px;
    }
    span{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
.hide{
  display: none!important;
}
